<a href="@Url.Action("GioHang","Giohang")" style="color: white; font-weight: bold; text-decoration: none;">
    <img src="~/Content/images/giohang.png" hight="20" width="20"/> Giỏ Hàng (@ViewBag.Tongsoluong)
</a>
