
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Đăng Nhập Admin</title>
    <meta charset="UTF-8" />


    <link href="~/Content/css/reset.css" rel="stylesheet" />
    <link href="~/Content/css/structure.css" rel="stylesheet" />
</head>

<body>
    
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
        <fieldset class="boxBody">
            <label>Username</label>
            <td>
                <input type="text" name="username" tabindex="1" placeholder="PremiumPixel" required>
                @ViewData["Loi1"]
            </td>
            <td>
                <input type="password" name="password" tabindex="2" required>
                @ViewData["Loi2"]
            </td>
        </fieldset>
        <footer>
            <label><input type="checkbox" tabindex="3">Keep me logged in</label>
            <input type="submit" class="btnLogin" value="Login" tabindex="4">
        </footer>
                }
            
            <footer id="main">
                <p>Duy </p>
            </footer>
</body>
</html>